@media (min-width: 768px) and (max-width: 1023px) {
  .categorie {
    display: block;
    width: 9em;
    margin: 0.5em 0.1em;
  }

  .categorie svg {
    margin: 0.8em auto;
    display: block;
    flex: 0 0 3.6em;
    height: auto;
    fill: var(--c-primary);
  }

  .categorie .link-disabled svg {
    fill: #ddd;
  }

  .categorie p {
    margin: auto 0.8em;
    color: var(--c-invert);
  }

  /* layout */

  main {
    display: block;
    margin: 4em auto;
  }

  main a {
    padding: 0.8em;
    display: inline-block;
  }

  main .searchbar {
    width: 50%;
    margin: 0;
  }

/* Checklist */

.collapse {
  margin: 1em 0;
  transition: 0.8s ease-in-out;
}

.rotate180 {
  transform: rotateZ(180deg);
}

.collapse-button {
  animation: rotate180 1s 1s ease-in-out forwards;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;

}

.collapse-button:hover {
  background-color: #b9006033;
  border-radius: 100%;
  transition: 0.4s;
  aspect-ratio: 1/1;
}

.collapse-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-checklist {
  color: var(--c-succes);
}

.a-checklist:hover {
  background-color: rgba(37, 174, 147, 0.2);
}

.a-checklist:focus {
  outline: 0.2em solid var(--c-info);
  border-radius: var(--border-radius-default);
  color: var(--c-info);
} 

.a-checklist:focus-visible {
  outline: 0.2em solid var(--c-info);
  border-radius: var(--border-radius-default);
  color: var(--c-info);
} 


.checklist {
  width: auto;
  height: fit-content;
  display: block;
  margin: 0 0 1em 0;
  position: relative;
  background-color: var(--c-default);
  border-radius:0.4em;
  padding: 3em 2em;
  position: relative;
}

.checklist-content {
  display: block;
  transition: 0.8s ease;
}

.checklist-content progress {
  display: block;
  border: 0;
  border-radius: var(--border-radius-default);
  background-color: var(--c-default);
}

.checklist-overview {
  padding: 1em 1.6em;
  height: fit-content;
  overflow: visible;
  transform: scaleY(1);
  transform-origin: top;
  transition: 0.4s ease-in;
}

.checklist-overview p {
  margin: 0 0 1em 1.2em;
}

.checklist-collapse {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.4s ease-out;
  overflow: hidden;
  height: 0;

}

.checklist-overview #height-hidden {
  height: 0;
}

#height-auto {
  height: auto;
}

#height-hidden {
  height: 0;
}

.checklist h2 {
  max-width: 12em;
}

  #desktop {
    display: none;
  }

  footer {
    width: 100vw;
    min-height: 10vh;
    display: inline-block;
    margin: auto;
    float: none;
    background-color: var(--c-primary);
  }

  footer::before {
    content: "";
    display: block;
    width: 100vw;
    height: 3vh;
    background-image: linear-gradient(90deg, #b9005f01 0 5%, var(--c-primary) 95%);
    margin-top: -3vh;
  }

  footer div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emotion-group {
    margin: 1em;
    max-width: 45vw;
    display: block;
    transform: translateY(0em);
    height: 10em;
  }

  footer nav {
    display: flex;
    width: fit-content;
  }

  footer nav .footer-links {
    display: block;
  }

  footer h2,
  h3,
  h4,
  h5,
  h6,
  i, p {
    color: var(--c-light);
  }

  .footer-links a {
    display: block;
    width: fit-content;
    padding: 0.4em;
    margin: 0.8em;
    fill: var(--c-light)
  }

  .footer-links a:hover svg {
    fill: var(--c-primary);
  }

  .footer-links a:focus svg {
    fill: var(--c-primary);
  }

  .subject {
    display: block;
  }

  .toptab {
    display: flex;
    align-items: baseline;
  }

  .tab {
    content: '';
    width: 22em;
    height: 3em;
    display: block;
    background-color: var(--c-default);
    margin: 0;
    border-radius: 3em 10em 0 0;
  }

  .curve {
    content: '';
    width: 3em;
    height: 3em;
    display: block;
    background-color: var(--c-accent-primary);
    margin: 0 0 0 -0.8em;
    border-radius: 0 5em 0 5em;
    z-index: 1;
  }

  .curve-bg {
    content: '';
    width: 3em;
    height: 2em;
    display: block;
    background-color: var(--c-default);
    margin: 0 0 0 -3em;
    border-radius: 2em 5em 0 0;
    z-index: 0;
  }

  .cntt {
    width: 90vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4em auto;
    flex-wrap: wrap;
  }

  .wrapper {
    width: 90vw;
    margin: auto;
  }

  .intro {
    width: 80vw;
    display: block;
    margin: auto;
    padding: 1em;
  }

  .options {
    width: 80vw;
    display: block;
    margin: auto;
    padding: 1em;
  }

  .option-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .folder {
    min-height: 20em;
  }

  .subject-img {
    width: 100%;
    object-fit: cover;
  }

  /* Interface */

  .ui-settings {
    display: inline-flex;
    align-items: center;
    float: inline-end;
    padding: 0 1.6em;
    margin: 0em auto;
    position: absolute;
    right: 1em;
  }

  /* Typografie */
  h1 {
    font-size: 2em;
    max-width: 20em;
  }

  h1 .toolgankelijk {
    font-size: 2em;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .cntt {
    width: 80vw;
    height: fit-content;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    margin: 5em auto;
    flex-wrap: wrap;
  }

  .checklist {
    width: auto;
    display: block;
    margin: 0 0 1em 0;
    background-color: var(--c-default);
    border-radius:0.4em;
    padding: 1em 2em;
    position: relative;
  }

  .collapse-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}